{% extends "base.html" %}

{% block content %}
  {% if page.meta.git_revision_date_localized or page.meta.git_authors %}
    <div style="margin-bottom: 2rem; padding: 0.5rem 0; border-bottom: 1px solid rgba(0,0,0,0.1); font-size: 0.8em; color: gray;">
      
      {% if page.meta.git_revision_date_localized %}
        <span style="display: inline-block; margin-right: 1.5rem;">
          <span class="twemoji">
            {% include ".icons/material/clock-edit-outline.svg" %}
          </span>
          最後更新: {{ page.meta.git_revision_date_localized }}
        </span>
      {% endif %}

      {% if page.meta.git_authors %}
        <span style="display: inline-block;">
          <span class="twemoji">
            {% include ".icons/material/account-edit.svg" %}
          </span>
          貢獻者: {{ page.meta.git_authors | join(", ") }}
        </span>
      {% endif %}

    </div>
  {% endif %}

  {{ super() }}
{% endblock %}
